// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

#wrapper {
    max-width:780px;
    margin:50px auto;
}

.diary_row {
    height:65px;
}
